body {
  background: url(/assets/img/background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  justify-content: center;
  text-align: center;
  flex-direction: column;
  width: 70%;
  height: 70%;
}

.counter-box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.btn-box {
  display: flex;
  width: 200px;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

h1 {
  font-family: "japan2";
  font-size: 70px;
}
button {
  font-family: "japan2";
  width: 50px;
  height: 50px;
  font-size: 45px;
  align-items: center;
}

p {
  font-size: 25px;
  font-family: "japan";
}

.btn-reset {
  width: 160px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
}

@font-face {
  font-family: "japan";
  src: url("/assets/fonts/GbshintoRegular-VMGx.otf");
}
@font-face {
  font-family: "japan2";
  src: url("/assets/fonts/Kashima\ Demo.otf");
}
/* mediaquery*/
@media screen and (max-width: 600px) {
  button {
    width: 180px;
    height: 50px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .btn-reset {
    width: 180px;
    text-align: center;
    align-items: center;
  }
  h1 {
    font-size: 45px;
  }
}
